#logo-container {
    display: flex;
    width: 800px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#logo-container img {
    width: 100px;
    margin-right: 20px;
    height: auto;
    object-fit: cover;
}

#logo {
    font-size: 2rem;
    font-family: 'Zelega Zenega', sans-serif;
}